#subdivision {
  position: absolute;
  top: 20px;

}
body{
	  background-color:black;
 }

#background{
	position: absolute;
	z-index: -10;
	margin-left: 25%;
}

canvas{
	position: relative;
	z-index:10;
	left: 10%;
	margin-top: 5%;
}

.content{
	position: absolute;
	color: white;
	font-size: 80px;
	margin-top:25%;
	z-index: 12;
	font-family: 'Amiko', sans-serif;
}

#smol{
	font-size: 20px;
}
